/* Colour Scheme */

$colour-1: #1F487E;
$colour-2: #F7FFF7;
$colour-3: #202020;
/*Secondary Colour*/
$colour-4: #468C98;
$colour-5: #000000;

.colour-1{ background-color: $colour-1}
.colour-2{ background-color: $colour-2}
.colour-3{ background-color: $colour-3}
.colour-4{ background-color: $colour-4}
.colour-5{ background-color: $colour-5}

.colour-1-text {color: $colour-1}
.colour-2-text {color: $colour-2}
.colour-3-text {color: $colour-3}
.colour-4-text {color: $colour-4}
.colour-5-text {color: $colour-5}