/* Colour Scheme */

$colour-1: #1F487E;
$colour-2: #F7FFF7;
$colour-3: #343434;
$colour-4: #1D3461;
$colour-5: #000000;

.colour-1{ background-color: $colour-1}
.colour-2{ background-color: $colour-2}
.colour-3{ background-color: $colour-3}
.colour-4{ background-color: $colour-4}
.colour-5{ background-color: $colour-5}